@import '../stylesAndMixins/stylesAndMixins.scss';
.graphs_wrapper{
    margin: 40px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;

    @media (max-width:1200px) {
        flex-direction: column;
    }
}
.containerHospital{
    padding: 25px 25px 25px 0px;
}

.graphs_wrapper_elem{
    width: 48%;
    height: 268px;
    background-color: white;
    box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
    border-radius: 8px;

    @media (max-width:1200px) {
        margin-bottom: 30px;
        width: 100%;
    }
}
.graphs_wrapper_header{
    padding-left: 20px;
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    margin: 10px auto;
    align-items: center;
 

}
.hospitalH{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #25282B;
    margin: 0;
}
.smallRightText{
 display: flex;
 flex-direction: row;
    :nth-child(2){
        margin-left:50px ;
    }
}
.textGraySmall{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #A0A4A8;
    margin: 0;
    text-align: center;
    margin-right: 30px;
}
.hospitalBottomSmall{
    height: 200px;
    padding: 0;
    margin: 0 0 0 0 ;
    margin-top: 20px;   
}
